<input type="text" (input)="person.name = $event.target.value;" /> <br>
<input type="text" (input)="person.lastName = $event.target.value;" /> <br>
<input type="text" (input)="person.minor = $event.target.value;" /> <br>
<input type="text" (input)="person.resident = $event.target.value;" /> <br>
<input type="text" (input)="person.email = $event.target.value;" /> <br>
<input type="text" (input)="person.nationalNumber = $event.target.value;" /> <br>
<input type="text" (input)="person.address.street = $event.target.value;" /> <br>
<input type="text" (input)="person.address.postcode = $event.target.value;" /> <br>
<input type="text" (input)="person.address.city = $event.target.value;" /> <br>
<input type="text" (input)="person.address.country = $event.target.value;" /> <br>
<input type="text" (input)="person.birthPlace = $event.target.value;" /> <br>
<input type="text" (input)="person.dateOfBirth = $event.target.value;" /> <br>
<input type="text" (input)="person.maritalStatus = $event.target.value;" /> <br>
<input type="text" (input)="person.partnerName = $event.target.value;" /> <br>

<button (click)='addPerson()'>Add Person</button>

